@import "reset";
@import "variables";

body {
    background-color: $red;
    text-align: center;
    color: #fff;
    line-height: 30px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    display: none;
}

h1 { 
    color: #fff;
}
